@keyframes animacja{
    0%{color: red}
    50%{color: blue}
    100%{color: red}
}
.cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a a a a"
    "b c c c"
    "b c c c"
    "b d d d";
    width: 100%;
    height: 100%;
}
.header{
    grid-area: a;
    background: royalblue;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.sidebar{
    grid-area: b;
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    grid-area: c;
    background: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
}
.footer{
    grid-area: d;
    background: seagreen;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.tabela{
    border:solid 3px black;
    font-size: 20px;
    
}
td{
    border:solid 1px black;
}
input{
    font-size: 30px;
}
.header:hover{
    animation: animacja 3s infinite;
    background: red;
    color: blue;
}
a:active{
    color:lime;
    font-size: 100px;
}
.red:focus {
    background: yellow;
    color: red;
  }
  
.blue:focus {
    background: yellow;
    color: blue;
}
input:checked + label {
    color: red;
    font-size: 80px;
  }
tr:nth-child(odd){
    background: blueviolet;
}
tr:nth-child(even){
    background: yellow;
}